<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Lato:wght@300&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='button.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body class="bg-gray-100">

    <div class="bg-white w-full h-[100px] flex flex-col items-center justify-center border-t-2 border-b-2 border-black">
        <h1 class="font-playfair font-semibold text-[35px] text-black">APPOINTMENT</h1>
    </div>

<div class="flex justify-center items-center flex-col space-y-10 m-15">
    <div id="bookNowContainer" class="w-100 h-auto bg-black rounded-[20px]">
        <div href="{{ url_for('static', filename='routes.LOGIN') }}" class="text-6xl text-white flex items-center justify-center font-faustina text-center m-10">
            <a href="{{ url_for('routes.LOGIN') }}">
                Book Now
            </a>
        </div>
    </div>
</div>

</body>
</html>
