<div class="h-[75px] bg-black flex justify-between items-center">
    <div class="ml-[40px]">
      <a href="{{ url_for('admin.ADMINLOGIN') }}">
        <img src="{{ url_for('static', filename='images/SG-LOGO.jpg') }}" 
             alt="Logo" 
             class="w-[75px] h-[75px] object-cover" />
        </a>
    </div>

    <nav class="flex gap-[25px] mr-[40px] font-playfair text-[15px] text-white">
        <a href="#" class="relative after:content-[''] after:absolute after:w-0 after:h-[2px] after:left-0 after:-bottom-1 after:bg-white after:transition-all after:duration-300 hover:after:w-full hover:text-gray-300">Gallery</a>
        <a href="#" class="relative after:content-[''] after:absolute after:w-0 after:h-[2px] after:left-0 after:-bottom-1 after:bg-white after:transition-all after:duration-300 hover:after:w-full hover:text-gray-300">Team</a>
        <a href="#" class="relative after:content-[''] after:absolute after:w-0 after:h-[2px] after:left-0 after:-bottom-1 after:bg-white after:transition-all after:duration-300 hover:after:w-full hover:text-gray-300">Services Offered</a>
        <a href="#" class="relative after:content-[''] after:absolute after:w-0 after:h-[2px] after:left-0 after:-bottom-1 after:bg-white after:transition-all after:duration-300 hover:after:w-full hover:text-gray-300">Ratings</a>
        <a href="#" class="relative after:content-[''] after:absolute after:w-0 after:h-[2px] after:left-0 after:-bottom-1 after:bg-white after:transition-all after:duration-300 hover:after:w-full hover:text-gray-300">Book Now</a>
        <a href="#" class="relative after:content-[''] after:absolute after:w-0 after:h-[2px] after:left-0 after:-bottom-1 after:bg-white after:transition-all after:duration-300 hover:after:w-full hover:text-gray-300">Contact Us</a>
    </nav>
</div>

<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
<style>
  .font-playfair {
    font-family: 'Playfair Display', serif;
  }
</style>