.day {
    width: 100%;          
    aspect-ratio: 1 / 1; 
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.day:hover {
    border-width: 2px;
    border-color: black;
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.selected {
    border-width: 2px;
    border-color: black;
    background-color: #ffffff; 
    color: rgb(0, 0, 0);
}

.time {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.today {
    background-color: #000000;
    color: rgb(255, 255, 255); 
}

.date {
    background-color: #ffffff; 
    color: #000000;
}
