<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Appointment Confirmation</title>
</head>
<body style="margin:0; padding:0; background-color:#000000; font-family:Arial, sans-serif;">

  <table role="presentation" style="width:100%; border-collapse:collapse;">
    <tr>
      <td align="center" style="padding:20px 0;">

        <table role="presentation" style="max-width:600px; width:100%; background-color:#ffffff; border-radius:8px; overflow:hidden; border:1px solid #ddd;">
          <!-- Header -->
          <tr>
            <td align="center" style="padding:20px; background-color:#000000; border-radius:4px;">
              <img src="https://i.imgur.com/SrkaTft.jpeg" alt="Barbershop Logo" style="max-width:100px; border-radius:8px;">
              <h2 style="margin:0; font-size:24px; color:#ffffff;font-family: 'Faustina', Georgia, 'Times New Roman', serif;">Appointment Confirmation</h2>
            </td>
          </tr>

          <!-- Body -->
          <tr>
            <td style="padding:20px 30px; font-size:16px; line-height:1.5;">
              <p style="margin:0 0 20px; color:#232222">Hi {{ appointment.full_name }},</p>
              <p style="margin:0 0 20px; color:#232222">Thank you for booking with us. Here are your appointment details:</p>

              <table role="presentation" style="width:100%; border-collapse:collapse; margin-bottom:20px;">
                <tr style="background-color:#1b1b1b; color:#ffffff;">
                  <td style="padding:12px; font-weight:bold; border:1px solid #ffffff;">Service</td>
                  <td style="padding:12px; border:1px solid #ffffff;">{{ appointment.service }}</td>
                </tr>
                <tr style="background-color:#2d2d2d; color:#ffffff;">
                  <td style="padding:12px; font-weight:bold; border:1px solid #ffffff;">Barber</td>
                  <td style="padding:12px; border:1px solid #ffffff;">{{ appointment.barber }}</td>
                </tr>
                <tr style="background-color:#1b1b1b; color:#ffffff;">
                  <td style="padding:12px; font-weight:bold; border:1px solid #ffffff;">Date</td>
                  <td style="padding:12px; border:1px solid #ffffff;">{{ appointment.date }}</td>
                </tr>
                <tr style="background-color:#2d2d2d; color:#ffffff;">
                  <td style="padding:12px; font-weight:bold; border:1px solid #ffffff;">Time</td>
                  <td style="padding:12px; border:1px solid #ffffff;">{{ formatted_time }}</td>
                </tr>
              </table>

              <p style="font-size:14px; margin:0 0 20px; color:#232222">
                Please arrive 5 minutes early.<br>
                If you need to cancel or reschedule, contact us on our socials.
              </p>
            </td>
          </tr>

          <!-- Footer -->
          <tr>
            <td align="center" style="padding:20px; background-color:#000000; font-size:12px;  border-radius:4px;">
              <p style="margin:5px 0; color:#ffffff; font-size:30px; font-weight:bold;  font-family: 'Faustina', Georgia, 'Times New Roman', serif;">Slick Grind Barber</p>
              <p style="margin:-2px 0; color:#959595">Visit our shop and rediscover your confidence. <br>
                                        Mon–Sat: 9:00 AM – 5:00 PM | Sunday: Closed
              </p>

<table role="presentation" cellspacing="10" cellpadding="0" border="0" align="center">
  <tr>
    <td align="center" style="padding:0 8px;">
      <a href="#"><img src="https://i.imgur.com/tak4qbw.png" alt="Facebook" width="20" style="display:block; border:0;"></a>
    </td>
    <td align="center" style="padding:0 8px;">
      <a href="#"><img src="https://i.imgur.com/FrXS6zs.png" alt="Instagram" width="20" style="display:block; border:0;"></a>
    </td>
    <td align="center" style="padding:0 8px;">
      <a href="https://maps.google.com/..."><img src="https://i.imgur.com/UEu81cs.png" alt="Location" width="20" style="display:block; border:0;"></a>
    </td>
    <td align="center" style="padding:0 8px;">
      <a href="mailto:SlickGrindBarber@gmail.com"><img src="https://i.imgur.com/3y64n86.png" alt="Email" width="20" style="display:block; border:0;"></a>
    </td>
  </tr>
</table>

              <p style="margin:10px 0; font-size:12px; color:#959595;">&copy; {{ current_year }} Slick Grind Barber | All Rights Reserved</p>
            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>

</body>
</html>
