<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Flask App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>
<body>
    
    <header class="navbar fixed top-0 left-0 w-full z-50">
        {% include '/sections/navbar.html' %}
    </header>
    <main class="pt-[50px]"> 
    <section class="banner h-screen relative">
        {% include '/sections/banner.html' %}
    </section>
    <section class="gallery">
        {% include '/sections/gallery.html' %}
    </section>
    <section class="artist">
        {% include '/sections/artist.html' %}
    </section>
    <section class="services">
        {% include '/sections/services.html' %}
    </section>
    <section class="location relative z-10">
        {% include '/sections/location.html' %}
    </section>
    <section class="feedback relative z-10">
        {% include '/sections/feedback.html' %}
    </section>
    <section class="footer">
        {% include '/sections/footer.html' %}
    </section>
    </main>
</body>
</html>
<script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
<script>
  const socket = io("http://localhost:5000");

  socket.on("connect", () => {
    console.log("✅ Connected to server via WebSocket");
  });
</script>